@model List<ResultBottomGridDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Admin/Index.cshtml";
    int sayac = 0;
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Öne Çıkan Hizmetler Listesi</h6>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Hizmet Adı</th>
                                <th scope="col">İkon</th>
                                <th scope="col">Detay</th>
                                <th scope="col">Güncelle</th>
                                <th scope="col">Sil</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var x in Model)
                            {
                                sayac++;
                                <tr>
                                    <th scope="row">@sayac</th>
                                    <td>@x.title</td>
                                    <td>@x.icon</td>
                                    <td>@x.description</td>
                                    <td><a href="/BottomGrid/UpdateBottomGrid/@x.bottomGridId" class="btn btn-outline-success">GÜNCELLE</a></td>
                                    <td><a href="/BottomGrid/DeleteBottomGrid/@x.bottomGridId" class="btn btn-outline-danger">SİL</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <a href="/BottomGrid/CreateBottomGrid" class="btn btn-outline-secondary">Yeni Öne Çıkan Hizmet Ekle</a>
                </div>
            </div>
        </div>
    </div>
</div>

