<section class="w3l-cover-3">
    <div class="cover top-bottom">
        <div class="container">
            <div class="middle-section text-center">
                <div class="section-width">
                    <p>It's great to be home!</p>
                    <h2>Find a property today</h2>
                    <div class="most-searches">
                        <h4>En Çok Arananlar</h4>
                        <ul>
                            <li><a href="#link">Villa</a></li>
                            <li><a href="#link">Apartman</a></li>
                            <li><a href="#link">Daire</a></li>
                        </ul>
                    </div>
                    <form action="#" class="w3l-cover-3-gd" method="GET">
                        <input type="search" name="text" placeholder="Kelime, ilan no ara" required>
                        <span class="input-group-btn">
                            <select class="btn btn-default" name="ext" required>
                                <option selected="">Ofis</option>
                                <option>Villa</option>
                                <option>Apartman</option>
                                <option>Daire</option>
                                <option>İşyeri</option>
                                <option>Yazlık</option>
                                <option>Bahçe</option>
                            </select>
                        </span>
                        <span class="input-group-btn">
                            <select class="btn btn-default" name="ext" required>
                                <option selected="">Şehir</option>
                                <option>Ankara</option>
                                <option>İstanbul</option>
                                <option>İzmir</option>
                                <option>Bursa</option>
                                <option>Antalya</option>
                                <option>Muğla</option>
                                <option>Eskişehir</option>
                            </select>
                        </span>
                        <button type="submit" class="btn-primary">Ara</button>
                    </form>
                </div>
                <section id="bottom" class="demo">
                    <a href="#bottom"><span></span>Kaydır</a>
                </section>
            </div>
        </div>
    </div>
</section>