@model UpdateWhoWeAreDetailDto
@{
    ViewData["Title"] = "UpdateWhoWeAreDetail";
    Layout = "~/Views/Admin/Index.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Biz Kimiz Alanı Güncelle</h6>
                <div class="table-responsive">
                    <form method="post">
                        <input type="hidden" asp-for="whoWeAreDetailID"/>
                        <label>Başlık: </label>
                        <input type="text" asp-for="title" class="form-control" />
                        <br />

                        <label>Alt Başlık: </label>
                        <input type="text" asp-for="subtitle" class="form-control" />
                        <br />

                        <label>Açıklama-1: </label>
                        <input type="text" asp-for="description1" class="form-control" />
                        <br />

                        <label>Açıklama-2: </label>
                        <input type="text" asp-for="description2" class="form-control" />
                        <br />

                        <button class="btn btn-outline-success">Güncelle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

